[submodule "dracula/alacritty"]
	path = dracula/alacritty
	url = https://github.com/dracula/alacritty.git
[submodule "dracula/firefox"]
	path = dracula/firefox
	url = https://github.com/dracula/firefox.git
[submodule "polybar-modules/polybar-spotify"]
	path = polybar-modules/polybar-spotify
	url = https://github.com/GDYendell/polybar-spotify.git
[submodule "dracula/vim"]
	path = dracula/vim
	url = https://github.com/dracula/vim.git
